<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Products</title>
</head>
<body>
<div class="container">
    <h1>Список товаров</h1>
    <h3 th:text="'Всего товаров: ' + ${products.size()}"></h3>

    <table th:if="${products.size() > 0}" class="table">
        <thead>
        <tr>
            <th scope="col">Артикул</th>
            <th scope="col">Наименование</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${ products}">
            <th th:text="${p.id}" scope="row"></th>
            <td th:text="${p.title}"></td>
            <td th:text="${p.cost}"></td>
            <td><a class="btn btn-danger" th:href="@{'/products/del/' + ${p.id}}">Удалить</a></td>
        </tr>
        </tbody>
    </table>

    <form class="row" method="post" th:action="@{'/products/add'}">
        <div class="col">
            <input type="number" class="form-control" id="inputId" name="id" placeholder="Артикул">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Наименование">
        </div>
        <div class="col">
            <input type="number" step="any" class="form-control" id="inputCost" name="cost" placeholder="Стоимость">
        </div>
        <button type="submit" class="btn btn-outline-success">Добавить</button>
    </form>
</div>
</body>
</html>